body {
  margin: 30px auto;
  max-width: 1200px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
}

h1 {
  color: orange;
   font-family: 'Aguafina Script';font-size: 50px;
}

h2{
  color: orange;
  padding: 0px 200px 100px 400px;
  margin-bottom: 100px;
}

#title{
  position:relative;
  left:50px;
}

#mushrooms{
  position:relative;
  right:70px;
}

#cross{
  position:relative;
  right:-150px;
font-size:25px;
  color: #D73CFD;
}
#around{
  position:relative;
  top: -70px;
  right:-800px;
  font-size:25px;
    color: #D73CFD;
}

#gif{
  position:relative

}
a{
    color: #a834eb;
}

#text {
  color: plum;
  text-decoration: none;

  }
/*around river*/
#compass{
  position:relative;
  top:-100px;
}
