body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
}

h1 {
  color: orange;
  padding: 100px 150px 200px 360px;

}

#e01{
  padding: 0px 0px 0px 200px;

}
#e02{
  padding:0px 0px 500px 700px;
}

a {
color: #D73CFD;
text-decoration: none;

}
