

body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
}
/*
h1 {
  color: orange;
  padding: 100px 150px 200px 360px;
   font-family: 'Aguafina Script';font-size: 50px;

}
*/
#e01{
  color:#D73CFD;
  font-family:serif;
  font-size:15px;



}

#darkForestText{
  color:#D73CFD;
  position:relative;
  right: -130px;
  top:350px;
   font-family: 'Aclonica';font-size: 22px;
}


#neighborText{
  color:#D73CFD;
  position:relative;
  right: -800px;
   font-family: 'Aclonica';font-size: 22px;
}

#neighborImage{
  position:relative;
  right: -700px;
  top: -450px;
}
/*
#e05{
  position:relative;
  padding:0px 0px 0px 700px;
}
*/
#e06{
  position:relative;

}


a {
color: #D73CFD;
text-decoration: none;

}
