

body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
}

h1 {
  color: orange;
  padding: 100px 150px 200px 360px;
   font-family: 'Aguafina Script';font-size: 50px;

}

#e01{
  position:relative;
  padding: 0px 0px 0px 200px;
   font-family: 'Aladin';font-size: 30px;

}
#e02{
  position:relative;
  padding:0px 0px 500px 700px;
   font-family: 'Aclonica';font-size: 22px;
}

//for the woods Part
#e03{
  position:relative;
  padding:0px 0px 0px 350px;
}

#e04{
  position:relative;
  padding: 0px 0px 0px 500px;
}

#e05{
  position:relative;
  padding:0px 0px 0px 700px;
}

a {
color: #D73CFD;
text-decoration: none;

}
