body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
}

h1 {
  color: orange;
  padding: 100px 150px 200px 360px;
   font-family: 'Aguafina Script';font-size: 50px;
}

h2{
  color: orange;
  padding: 0px 150px 300px 360px;
   font-family: 'Aguafina Script';font-size: 30px;
}


#k01{
  position:relative;
  padding: 0px 0px 0px 50px;
font-size:25px;
}
#k02{
  position:relative;
  top: -70px;
  padding:0px 0px 0px 650px;
  font-size:25px;
}
