body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
}

h1 {
  color: orange;
  padding: 100px 150px 200px 360px;
   font-family: 'Aguafina Script';font-size: 50px;
}
h3{
  color: orange;
    padding:-50px 100px 0px 800px;
  font-family: 'Aguafina Script';font-size: 30px;

}

#h01{
  position:relative;
  padding: 0px 0px 0px 100px;
font-size:25px;
}
#h02{
  position:relative;
  top: -70px;
  padding:0px 0px 0px 700px;
  font-size:25px;
}

img{
  margin:-50px 0px 20px 450px;

}
