body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
}

h1 {
  color: orange;
   font-family: 'Aguafina Script';font-size: 50px;
}
h3{
  color: orange;
  font-family: 'Aguafina Script';font-size: 30px;

}

#knock{
  position:relative;
font-size:25px;
left:100px;
color:#6d3beb;
}
#leave{
  position:relative;
  font-size:25px;
  top:-60px;
  left:650px;
  color:#6d3beb;
}
#grottoGif{
  position:relative;
}
/*grotto Leave */
