body {
  margin: 30px auto;
  max-width: 1200px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
}

h1 {
  color: orange;
   font-family: 'Aguafina Script';font-size: 50px;
}

h2{
  color:orange;
}

h3{
  color:orange;
}


#ask{
  position:relative;
  color:purple;
  left:100px;
  font-size:30px;
  top:50px;
}

#avoid{
  position:relative;
  color:purple;
  bottom:25px;
  left:800px;
  font-size:30px;
}
