body {
  margin: 30px auto;
  max-width: 1200px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
}

h1 {
  color: orange;
   font-family: 'Aguafina Script';font-size: 50px;
}
h2{
  color:orange;
}
h3{
  color:orange;
}

#pot{
  position:relative;
  color:purple;
  font-size:30px;
  left:100px;

}

#spider{
  position:relative;
  color:purple;
  font-size:30px;
  left:700px;
  bottom:75px;
}

a{
    color: #a834eb;
}
