body {
  margin: 30px auto;
  max-width: 1300px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
}

h1 {
  color: orange;
  padding: 100px 150px 200px 500px;
   font-family: 'Aguafina Script';font-size: 50px;
}

h2{
  color: orange;
  padding: 0px 200px 100px 400px;
  margin-bottom: 100px;
}

#t01{
  color:orange;
  position:relative;
  padding:0px 0px 0px 100px;
}
#t02{
  color:orange;
    margin-top:-50px;
  position:relative;
  padding-top:-150px;
  padding:0px 0px 0px 600px;
}
#t03{
  color:orange;
  margin-top:-50px;
  position:relative;
  padding:0px 0px 500px 1000px;
}
