body {
  margin: 30px auto;
  max-width: 1300px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
}

#title {
  color: orange;
   font-family: 'Aguafina Script';font-size: 50px;
}

#gif{
  right:-100px;
}

#creekImage{
  position:relative;
  top:-100px;
}

#grottoImage{
  position:relative;
  top:-100px;
  right:-70px;
}

#fieldImage{
  position:relative;
  top:-100px;
  right:-50px;
}


#creek{
  color:orange;
  position:relative;
  font-size:25px;
  right:-110px;
}
#grotto{
  color:orange;
  position:relative;
  font-size:25px;
  right:-550px;
  top:-60px;
}
#field{
  color:orange;
  position:relative;
  font-size:25px;
  right:-1000px;
  top:-120px;
}
